* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header, footer {
  background-color: #000;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 20px;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header h2 {
  font-size: 30px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

.card {
  width: 90%;
  max-width: 500px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 40px;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: 0;
  outline: 0;
  background: #effffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.search button img {
  width: 16px;
}

.error {
  font-size: 14px;
  margin-top: 10px;
  color: yellow;
  display: none;
  text-align: left;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}
.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 45px;
  font-weight: 500;
  margin-top: -10px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 30px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
}
.humidity, .wind {
  font-size: 28px;
  margin-top: -6px;
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}
#cities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.city {
  flex: 1 1 40%;
  max-width: 200px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.2);
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}
.city:hover {
  background-color: rgba(0,0,0,0.4);
}
